.data {
  &__title {
    margin: 10px 0;
  }

  .card {
    border: none;
    border-radius: 0;
    border-left: 2px solid rgba(0, 0, 0, 0.125);

    &-body {
      padding: 0 1.25rem 0 1.25rem;

      .table {
        margin-bottom: 0;
      }
    }

    .table th, .table td {
      font-size: 13px;
      font-weight: 400;
    }

  }
}
