@import "../_main";

.filters {
  .card {
    border: none;
    border-radius: 0;

    &-body {
      font-size: 13px;

      .filters__checkbox {
        margin-top: -10px;

        &-wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          text-align: center;

          &-dropbox {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .country {
              &__title {
                font-size: 16px;

                margin-bottom: 10px;
              }

              &__selector {
                margin-bottom: 10px;

                .custom-select {
                  font-size: 13px;
                }

                .m-2 {
                  margin: 0;
                }
              }
            }
          }

          .form-group {
            text-align: start;
          }

          &-title {
            margin-bottom: 10px;
          }

          &-connection {
            margin: 10px 0;

            @include iphones420 {
              margin: 0;
            }
          }
        }
      }
    }
  }

  @include tablets { 
    @include flexCenter;
  }
}
