<template>
  <div class="data">
    <div class="data__title">{{ dataTitle }}</div>
    <b-card>
      <b-table :fields="headers" small bordered responsive :items="parsedData"></b-table>
    </b-card>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      dataTitle: "Proxy List",
      headers: [
        "alive",
        "busy_until",
        "chargeable",
        "country",
        "created",
        "host",
        "id",
        "last_check_time",
        "modified",
        "port",
        "port_response_time",
        "protocol",
        "proxy_type",
        "source_of_proxy",
        "use_counter"
      ]
    };
  },
  props: {
    parsedData: {
      type: Array,
      default: () => []
    }
  }
};
</script>

<style lang="scss">
@import "../../assets/styles/Data/data.scss";
</style>
