.bv-example-row.container {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;

  @media (min-width: 1115px) {
    max-width: max-content;
  }

  /*
  @media (min-width: 992px) {
    max-width: 950px;
  }

  @media (min-width: 768px) {
    max-width: 787px;
  }
  */

  @media (min-width: 576px) {
    max-width: max-content;
  }
}
