<template>
  <div class="filters">
    <b-card>
      <div class="filters__checkbox">
        <div class="filters__checkbox-wrapper">
          <div class="filters__checkbox-wrapper-dropbox">
            <span class="country__title">Country</span>
            <div class="country__selector">
              <b-form-select v-model="selectedDD" :options="onlyCountries" @change="selectCountry">
                <template slot="first">
                  <option :value="null" disabled>Select country</option>
                </template>
              </b-form-select>
            </div>
          </div>
          <span class="filters__checkbox-wrapper-title">Proxy Type</span>
          <b-form-group>
            <b-form-checkbox
              v-for="option in options"
              v-model="selectedCB"
              :key="option.value"
              :value="option.value"
              name="proxy_type"
              @change="selectType(option.value)"
            >{{ option.title }}</b-form-checkbox>
          </b-form-group>
          <span class="filters__checkbox-wrapper-connection">Alive</span>
          <b-form-checkbox
            id="connection"
            name="connection"
            v-model="status"
            value="true"
            unchecked-value="false"
            @change="selectStatus"
          >Status</b-form-checkbox>
        </div>
      </div>
    </b-card>
  </div>
</template>

<script>
export default {
  data: () => ({
    selectedDD: null,
    options: [
      {
        title: "Transparent",
        value: 0
      },
      {
        title: "Anonymous",
        value: 1
      },
      {
        title: "Elite",
        value: 2
      }
    ],
    selectedCB: [],
    status: true
  }),
  methods: {
    selectCountry() {
      this.$emit("changeCountry", {filter: this.selectedDD});
    },
    selectStatus(){
      this.status = !this.status;
      this.$emit("changeStatus", {statusFilter: this.status});
    },
    selectType(data) {
      this.$emit("changeType", {typeFilter: data});
    }
  },
  props: {
    onlyCountries: {
      type: Array,
      default: () => []
    }
  }
};
</script>

<style lang="scss">
@import "../../assets/styles/Filters/filters.scss";
</style>
