<template>
  <div>
    <b-container class="bv-example-row">
      <b-row no-gutters>
        <b-col class="col-xs-2 col-md-2">
          <Filters
            :onlyCountries="onlyCountries"
            @changeCountry="changedCountry"
            @changeStatus="changedStatus"
            @changeType="changedType"
          />
        </b-col>
        <b-col class="col-xs-10 col-md-10">
          <Data :parsedData="filteredCountries"/>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import moment from "moment";
import Data from "../data/Data.vue";
import Filters from "../filters/Filters.vue";
export default {
  name: "generalWrapper",
  components: {
    Data,
    Filters
  },
  data: function() {
    return {
      parsedData: [],
      countryFilter: "",
      filterStatus: true,
      filterType: 2
    };
  },
  methods: {
    changedCountry({ filter }) {
      this.countryFilter = filter;
    },
    changedStatus({ statusFilter }) {
      this.filterStatus = statusFilter;
    },
    changedType({ typeFilter }) {
      this.filterType = typeFilter;
    },
    async getData() {
      const dataArray = await this.axios.get(
        "https://cors-anywhere.herokuapp.com/https://proxyfordevelopers.com/api/proxies/?format=json"
      );
      dataArray.data.forEach(elem => {
        elem.busy_until = moment(elem.busy_until).format("DD/MM/YYYY HH:mm");
        elem.created = moment(elem.created).format("DD/MM/YYYY HH:mm");
        elem.last_check_time = moment(elem.last_check_time).format(
          "DD/MM/YYYY HH:mm"
        );
        elem.modified = moment(elem.modified).format("DD/MM/YYYY HH:mm");
      });
      this.parsedData = dataArray.data;
    }
  },
  computed: {
    onlyCountries() {
      return this.parsedData
        .map(single => single.country)
        .filter(
          (filteredCountry, index, array) =>
            array.indexOf(filteredCountry) === index
        )
        .sort();
    },
    filteredCountries() {
      let result = this.parsedData;
      if (this.countryFilter) {
        result = this.parsedData.filter(
          item => item.country === this.countryFilter
        );
      }
      if (!this.filterStatus) {
        result = this.parsedData.filter(
          statusItem => statusItem.alive === this.filterStatus
        );
      }
      if (this.filterType !== 2) {
        result = this.parsedData.filter(
          filterItem => filterItem.proxy_type === this.filterType
        );
      }
      return result;
    }
  },
  created() {
    this.getData();
  }
};
</script>

<style lang="scss">
@import "../../assets/styles/GeneralWrapper/generalWrapper.scss";
</style>
