<template>
  <div id="app">
    <GeneralWrapper />
  </div>
</template>

<script>
import GeneralWrapper from './components/generalWrapper/GeneralWrapper.vue';

export default {
  name: "app",
  components: {
    GeneralWrapper
  }
};
</script>

<style lang="scss">
@import "./assets/styles/App/app.scss";
</style>
