@mixin flexCenter {
    display: flex;
    justify-content: center;
}

@mixin tablets {
    @media (min-width: 320px) and (max-width: 768px) {
      @content;
    }
  }

@mixin iphones420 {
    @media (max-width: 420px) {
      @content;
    }
  }